<%- include("header") -%>

<h1>About</h1>
<br><br>
<h3>
  This is a to do list that will <br> motivate you to get things done <br> and feel good about it!
</h3>
<br><br>

<style>
  h1 {
    font-size: 3em;
    color: white;
  }

  h3 {
    font-size: 1.7em;
    color: white;
  }

  footer {
    text-align: left;
  }
</style>

<%- include("footer") -%>
